@font-face {
    font-family: 'Inter';
    src: url(../assets/fonts/Inter-VariableFont_slnt\,wght.ttf) format("truetype");
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --white: hsl(0, 0%, 100%);

    --very_dark_blue: hsl(230, 17%, 14%);
    --very_dark_blue_top: hsl(232, 19%, 15%);
    --dark_desaturated_blue: hsl(228, 28%, 20%);
    --desaturated_blue: hsl(228, 34%, 66%);

    --very_pale_blue: hsl(225, 100%, 98%);
    --light_grayish_blue: hsl(227, 47%, 96%);
    --dark_grayish_blue: hsl(228, 12%, 44%);
    --very_dark_blue: hsl(230, 17%, 14%);

    --lime_green: hsl(163, 72%, 41%);
    --bright-red: hsl(356, 69%, 56%);
    --facebook-color: hsl(208, 92%, 53%);
    --twitter-color: hsl(203, 89%, 53%);
    --instagram-color-begin: hsl(37, 97%, 70%);
    --instagram-color-end: hsl(329, 70%, 58%);
    --youtube-color: hsl(348, 97%, 39%);
}

html {
    height: 100%;
}

body {
    height: 100%;
    font-family: Inter;
    font-size: 14px;
    /* hard cut-off */
    background: linear-gradient(var(--very_dark_blue_top) 30%, var(--very_dark_blue) 0%);
}

body.light_background {
    background: linear-gradient(var(--very_pale_blue) 30%, var(--white) 0%);
    background-repeat: no-repeat;
}

.container {
    width: 75%;
    max-width: calc(0.75 * 1440px);
    height: 100%;
    margin: auto;
    padding-top: 40px;
    color: var(--white);
}

.container--light {
    color: var(--very_dark_blue);
}

.card_row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.card {
    width: 22%;
    border-radius: 2%;
    background-color: var(--dark_desaturated_blue);
    flex: none;
    overflow: hidden;
}

.card--light {
    background-color: var(--light_grayish_blue);
}

.card:hover {
    filter: brightness(150%)
}

.variation {
    color: var(--lime_green);
    font-size: 10px;
    display: flex;
    align-items: center;
}

.variation img {
    height: 4px;
    width: 8px;
}

.variation_text {
    font-weight: 700;
    padding-left: 2px;
}

.variation--down {
    color: var(--bright-red);
}

.social_media_image {
    width: 16px;
    height: 16px;
}

/* Header */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.header__title {
    display: flex;
    flex-direction: column;
}

.header__title__title {
    font-size: 24px;
}

.header__title__subtitle {
    color: var(--desaturated_blue);
    font-size: 12px;
}

.header__title__subtitle--light {
    color: var(--dark_desaturated_blue);
}

.header__toggle_mode {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__toggle_mode label {
    color: var(--desaturated_blue);
    font-size: 10px;
    padding-right: 10px;
    font-weight: 700;
}

.header__toggle_mode input {
    /* TODO: implement round toggle button */
    width: 40px;
    height: 10px;
    cursor: pointer;
}

/* Followers row */
.card__followers {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0 20px;
}

.card__followers__id {
    display: flex;
    justify-content: center;
    align-content: center;
    color: var(--desaturated_blue);
    font-size: 12px;
}

.card__followers__id span {
    padding-left: 7px;
}

.card__followers__number {
    margin-top: 15px;
    font-size: 38px;
    font-weight: 700;
    margin-bottom: 5px;
}

.card__followers__followers {
    text-transform: uppercase;
    letter-spacing: 0.3em;
    color: var(--desaturated_blue);
    font-size: 9px;
    margin-bottom: 20px;
}

.card__top_bar {
    width: 100%;
    height: 5px;
    background-color: white;
}

.card__top_bar--facebook {
    background-color: var(--facebook-color);
}

.card__top_bar--twitter {
    background-color: var(--twitter-color);
}

.card__top_bar--instagram {
    /* background-color: white; */
    background-image: linear-gradient(90deg, var(--instagram-color-begin), var(--instagram-color-end));
}

.card__top_bar--youtube {
    background-color: var(--youtube-color);
}

/* Overview */
.overview_title {
    padding-top: 15px;
    margin-bottom: 20px;
}

/* Overview cards */
.card__overview_today {
    height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5px;
    padding: 15px 30px;
}

.card__overview_today__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card__overview_today__title {
    width: 70%;
    color: var(--desaturated_blue);
    font-weight: 500;
}

.card__overview_today__title--light {
    color: var(--dark_grayish_blue);
}

.card__overview_today__number {
    font-size: 30px;
}

@media(max-width: 700px) {
    .header {
        display: block;
    }

    .header__title {
        border-bottom: solid var(--dark_desaturated_blue) 1px;
        padding-bottom: 10px;
    }

    .header__title__title {
        margin-bottom: 10px;
    }

    .header__toggle_mode {
        margin-top: 20px;
    }

    .card {
        width: 100%;
        margin-bottom: 20px;
    }
}
